.tile {
  user-select: none;
  font-weight: 600;
  width: min(15vw, 4.5em);
  height: min(8vh, 4em);
  border: 2px solid rgb(109, 109, 109);
}

span {
  font-size: clamp(1rem, 1vw + 1.2rem, 2.2rem);
  color: white;
  background-color: transparent;
}

.keyboard {
  border-radius: 6px;
}
