.tile {
  user-select: none;
  border-radius: 6px;
}

.container {
  width: min(8.5vw, 3em);
  height: min(6vh, 3em);
  border: 2px solid rgb(109, 109, 109);
}

.large-container {
  width: min(28.5vw, 11em);
  height: min(6vh, 3em);
  border: 2px solid rgb(109, 109, 109);
}

span {
  font-size: clamp(2.5vw, 4vw, 1.5em);
  color: white;
  background-color: transparent;
}

.fade {
  opacity: 0.6;
}
