<h2 mat-dialog-title>CON PA HUNGA</h2>
<mat-dialog-content class="mat-typography">
  <p>Rij e WORDLE den 6 biaha.</p>
  <p>
    Kada chens mester ta un palabara valido di 5 letter. Primi enter pa submit e
    palabara.
  </p>
  <p>
    Despue di kada palabra, e color di e letter ta cambia a base di con serca bo
    a guess.
  </p>
  <mat-divider></mat-divider>
  <h3>Examples</h3>
  <div fxLayout="row" fxLayoutGap="5px">
    <app-tile
      [isKeyboard]="true"
      [text]="'N'"
      [evaluation]="evaluation.ABSENT"
    ></app-tile>
    <app-tile
      [isKeyboard]="true"
      [text]="'I'"
      [evaluation]="evaluation.CORRECT"
    ></app-tile>
    <app-tile
      [isKeyboard]="true"
      [text]="'E'"
      [evaluation]="evaluation.ABSENT"
    ></app-tile>
    <app-tile
      [isKeyboard]="true"
      [text]="'T'"
      [evaluation]="evaluation.ABSENT"
    ></app-tile>
    <app-tile
      [isKeyboard]="true"
      [text]="'O'"
      [evaluation]="evaluation.ABSENT"
    ></app-tile>
  </div>
  <p>E letter I ta den e palabra y den e lugar corecto.</p>
  <div fxLayout="row" fxLayoutGap="5px">
    <app-tile
      [isKeyboard]="true"
      [text]="'Y'"
      [evaluation]="evaluation.ABSENT"
    ></app-tile>
    <app-tile
      [isKeyboard]="true"
      [text]="'O'"
      [evaluation]="evaluation.ABSENT"
    ></app-tile>
    <app-tile
      [isKeyboard]="true"
      [text]="'R'"
      [evaluation]="evaluation.PRESENT"
    ></app-tile>
    <app-tile
      [isKeyboard]="true"
      [text]="'O'"
      [evaluation]="evaluation.ABSENT"
    ></app-tile>
    <app-tile
      [isKeyboard]="true"
      [text]="'N'"
      [evaluation]="evaluation.ABSENT"
    ></app-tile>
  </div>
  <p>E letter R ta den e palabra pero no den e position corecto.</p>
  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
