.container {
  height: 100%;
}

.title {
  font-weight: 700;
  font-size: 36px;
  color: white;
}

.congrats {
  color: white;
}

.new-game-button {
  background-color: #fafafa; /* Green */
  border: none;
  color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
