<div fxLayoutAlign="space-between center" fxLayout="column" class="container">
  <div
    fxLayoutAlign="center center"
    fxLayoutGap="2vw"
    fxLayout="row"
    class="header"
  >
    <button mat-icon-button (click)="openInstructionsDialog()">
      <mat-icon class="icon-button">help_outline</mat-icon>
    </button>
    <span class="title">Papiamento Wordle</span>
    <button mat-icon-button (click)="showGameStatsPopup()">
      <mat-icon class="icon-button">info_outline</mat-icon>
    </button>
  </div>

  <app-grid [rows]="grid ?? []" [fade]="disabledKeyboard"></app-grid>
  <app-keyboard
    [disabled]="disabledKeyboard"
    [foundLetters]="foundLetters"
    (onClick)="onDisplayKeyboardClick($event)"
  ></app-keyboard>
</div>
