.container {
  height: 100%;
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 1.5em;
  color: white;
}

.congrats {
  color: white;
}

.new-game-button {
  background-color: #fafafa; /* Green */
  border: none;
  color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.copy-button {
  transform: scale(0.8);
}
.icon-button {
  color: #9aa0a6;
}
