<div fxLayoutAlign="space-around center" fxLayout="column" class="container">
  <div
    fxLayoutAlign="space-around center"
    fxLayoutAlign.gt-sm="center center"
    fxLayout="row"
    [style.width]="'100%'"
  >
    <button mat-icon-button color="accent" (click)="openInstructionsDialog()">
      <mat-icon>info</mat-icon>
    </button>
    <span class="title">Papiamento Wordle</span>
    <button
      mat-icon-button
      color="warning"
      (click)="startNewGameWithPrompt()"
      [ngStyle]="{
        display: this.gameStatus === gameStatusEnum.ONGOING ? '' : 'none'
      }"
    >
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <div
    fxLayoutAlign="center center"
    fxLayout="column"
    [ngStyle]="{
      display: this.gameStatus !== gameStatusEnum.ONGOING ? '' : 'none'
    }"
  >
    <span class="congrats">{{ this.gameService.gameFinishedMessage }}</span>
    <div>
      <button mat-raised-button color="accent" (click)="startNewGame()">
        Palabra nobo <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <app-grid [rows]="gameService.grid.rows"></app-grid>
  </div>
  <div fxLayoutAlign="center end">
    <app-keyboard
      [rows]="keyboardRows"
      [foundLetters]="foundLetters"
      (onClick)="onDisplayKeyboardClick($event)"
    ></app-keyboard>
  </div>
</div>
