<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxHide fxShow.gt-sm></div>
  <div fxLayoutAlign="space-between center" fxLayout="column">
    <span class="title">Papiamento Wordle</span>
    <div fxHide fxShow.gt-sm></div>
    <div
      [ngStyle]="{ display: this.stateService.gameFinished ? '' : 'none' }"
      fxLayoutAlign="center center"
      fxLayout="column"
      fxLayoutGap="5px"
    >
      <span class="congrats">{{ this.stateService.gameFinishedMessage }}</span>
      <button class="new-game-button" (click)="startNewGame()">
        Palabra nobo
      </button>
    </div>
    <app-grid [rows]="stateService.grid.rows"></app-grid>
    <div fxHide fxShow.gt-sm></div>
    <app-keyboard
      [rows]="keyboardRows"
      (onClick)="onDispalyKeyboardClick($event)"
    ></app-keyboard>
  </div>
  <div fxHide fxShow.gt-sm></div>
</div>
