.tile {
  user-select: none;
  border-radius: 6px;
}

.container {
  width: 4.5em;
  height: 4em;
  border: 2px solid rgb(109, 109, 109);
}

.large-container {
  width: 14em;
  height: 4em;
  border: 2px solid rgb(109, 109, 109);
}

span {
  font-size: 2em;
  color: white;
  background-color: transparent;
}

.fade {
  opacity: 0.6;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 2.2em;
    height: 3em;
  }

  .large-container {
    width: 9em;
    height: 3em;
  }
  span {
    font-size: 1.4em;
  }
}
