body {
  background-color: #212529;
}

html,
body,
app-root {
  height: 100%;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
simple-snack-bar span {
  margin: auto;
  text-align: center;
}
