body {
  background-color: #272b30;
}

html,
body,
app-root {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

simple-snack-bar span {
  margin: auto;
  text-align: center;
}
