body {
  background-color: #272b30;
}

html,
body,
app-root {
  height: 100%;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
