<h2 mat-dialog-title align="center">
  {{ data.title }}
</h2>
<mat-dialog-content fxLayoutAlign="center center" fxLayout="column">
  <p
    *ngIf="this.data.nextDay"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
    class="text"
  >
    <span> {{ data.text }}</span>
    <span> Sigiente WORDLE den</span>
    <span class="time">
      <app-countdown
        [countdownTime]="data.nextDay"
        (countdownComplete)="countdown($event)"
      >
      </app-countdown
    ></span>
  </p>
  <mat-divider></mat-divider>
  <div class="data-container">
    <div fxLayoutAlign="center start" fxLayout="row" fxLayoutGap="10px">
      <div
        fxLayoutAlign="center center"
        fxLayout="column"
        class="data"
        fxLayoutGap="10px"
      >
        <span class="number">{{ data.totalGamesPlayed }}</span>
        <span class="label">Hunga</span>
      </div>
      <div
        fxLayoutAlign="center center"
        fxLayout="column"
        class="data"
        fxLayoutGap="10px"
      >
        <span class="number">{{ percentageGameWon() }}%</span>
        <span class="label">Gana % </span>
      </div>
      <div
        fxLayoutAlign="center center"
        fxLayout="column"
        class="data"
        fxLayoutGap="10px"
      >
        <span class="number">{{ data.currentStreak }}</span>
        <span class="label">Current Streak</span>
      </div>
      <div
        fxLayoutAlign="center center"
        fxLayout="column"
        class="data"
        fxLayoutGap="10px"
      >
        <span class="number">{{ data.maxStreak }}</span>
        <span class="label">Max Streak</span>
      </div>
    </div>
  </div>

  <div *ngIf="this.data.nextDay">
    <app-copy-button [text]="this.data.copyText"></app-copy-button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
