mat-dialog-content {
  width: 18em;
}

.text {
  .time {
    font-size: xx-large;
  }
}

.data-container {
  height: 100%;
  width: 90%;
  border: solid 1px #3a3a3a;
  padding: 10px;
  margin-top: 15px;
  .data {
    text-align: center;
    .number {
      font-size: 22px;
    }
    .label {
      font-size: 11px;
    }
  }
}

.chart-container {
  // background-color: darkslategray;
  .chartcanvas {
    width: 15em;
    height: 10em;
  }
}
