<h2 mat-dialog-title align="center">
  {{ data.title }}
</h2>
<mat-dialog-content fxLayoutAlign="center center" fxLayout="column">
  <span
    *ngIf="this.data.nextDay"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
    class="text"
  >
    <span align="center">
      {{ data.text }} <br />
      Sigiente WORDLE den</span
    >
    <span class="time">
      <app-countdown
        [countdownTime]="data.nextDay"
        (countdownComplete)="countdown($event)"
      >
      </app-countdown
    ></span>
  </span>
  <mat-divider></mat-divider>
  <div class="stats-container">
    <div
      fxLayoutAlign="space-between start"
      fxLayout="row"
      fxLayoutGap="min(2vw, 20px)"
    >
      <div
        fxLayoutAlign="center center"
        fxLayout="column"
        class="data"
        fxLayoutGap="5px"
      >
        <span class="number">{{ data.totalGamesPlayed }}</span>
        <span class="label">Wega</span>
      </div>
      <div
        fxLayoutAlign="center center"
        fxLayout="column"
        class="data"
        fxLayoutGap="5px"
      >
        <span class="number">{{ percentageGameWon() }}%</span>
        <span class="label">Gana % </span>
      </div>
      <div
        fxLayoutAlign="center center"
        fxLayout="column"
        class="data"
        fxLayoutGap="5px"
      >
        <span class="number">{{ data.currentStreak }}</span>
        <span class="label break-word"
          >Streak<br />
          Actual</span
        >
      </div>
      <div
        fxLayoutAlign="center center"
        fxLayout="column"
        class="data"
        fxLayoutGap="5px"
      >
        <span class="number">{{ data.maxStreak }}</span>
        <span class="label break-word">Best<br />Streak</span>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div
    class="chart-container"
    fxLayoutAlign="center center"
    fxLayout="row"
    *ngIf="data.totalGamesPlayed > 0"
  >
    <div class="chartcanvas">
      <app-dialog-graph [wonsInTries]="data.wonsInTries"></app-dialog-graph>
    </div>
  </div>

  <div *ngIf="this.data.nextDay" class="copy-button">
    <app-copy-button [text]="this.data.copyText"></app-copy-button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
