mat-dialog-content {
  width: 18em;
}

table {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 12em;
}
.copy-button {
  transform: scale(0.8);
  background-color: #5ead50;
}
.enfisis {
  font-size: larger;
}
