mat-dialog-content {
  width: min(80vw, 20em);
  height: 100%;
}

.text {
  span {
    font-size: min(4vw, 1em);
  }
  .time {
    font-size: min(15vw, 32px);
  }
}

.stats-container {
  height: min(45vh, 100%);
  width: min(60vw, 90%);
  border: solid 1px #3a3a3a;
  padding: 5px;
  margin-top: 11px;
  .data {
    text-align: center;
    .number {
      font-size: min(5vw, 22px);
    }
    .label {
      font-size: min(3vw, 11px);
    }
  }
}

.chart-container {
  .chartcanvas {
    width: min(80vw, 100%);
    height: min(50vh, 100%);
  }
}
